<h1>
  <%= @log.coordinates_display%>
</h1>

<%= link_to 'Edit', edit_trip_log_path(@trip, @log) %>
<%= link_to 'Delete', trip_log_path(@trip, @log), method: :delete, data: { confirm: 'Do you really want to delete this log?' } %>
